<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="customValidationApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">customValidation</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <!--<div ng-view=""></div>-->
	
	<form name="addSectionForm" form-validation="true" class="form-horizontal" novalidate>
	<div class="row">
	<div class="col-md-6">
	<h3>Add Section</h3>
	<div class="row form-group">
	<div class="col-md-6">
	<label for="label" class="control-label">Section Name</label>  
	<form-element-validation placement="right">
	<input class="form-control" name="label" type="text" ng-required="true" ng-model="section.label"></input>
	<div hidden="true" class="_popoverContent" ng-messages="addSectionForm['label'].$error">
					          <!-- Overriding error messages -->
					    	 <span ng-message="required" class="inlineError" >Section Name is required</span>
					     </div>
	</form-element-validation>
	</div>
	</div>
	<div class="row form-group">
	<div class="col-md-6">
	<label for="pages" class="control-label">Number of Pages</label>
	<form-element-validation placement="left" >
	<input class="form-control" name="pages" type="number" ng-required="true" ng-model="section.pages"></input>
	<div hidden="true" class="_popoverContent" ng-messages="addSectionForm['pages'].$error">
					          <!-- Overriding error messages -->
					    	 <span ng-message="required" class="inlineError" >Page Number is required</span>
							 <span ng-message="number" class="inlineError" >Enter valid page number</span>

					     </div>
	</form-element-validation>
	</div>
	</div>
	<div class="row form-group">
	<div class="col-md-6">
	<button class="btn btn-primary" ng-click="addSection(addSectionForm.$invalid)" >Add</button>
	</div>
	</div>
	</div>

	</div>
	
    <!--<div ng-view=""></div>-->
<!--	currentSection: {{currentSection}} currentPage :{{currentPage}} navigationSections{{navigationSections}}navigationSections[currentSection]{{navigationSections[currentSection]}}-->
	<div class="row jumbotron">
	<nav-progress-bar navigation-sections="navigationSections" current-section="currentSection" current-page="currentPage" ></nav-progress-bar>
	</div>
	
	
	</form>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
